* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
	margin: 0;
	font-size: 10px;
	background-color: #f2f2f2;
}


.logo img {
	margin-top: 5%;
}

#img-text {
	display: flex;
}

.pending-icon {
	border: 1px solid rgba(5, 5, 5, 0.05);
}

#img-text img {
	border-radius: 0px !important;
	margin: auto 0;
	margin-right: 4px;
}

.main {
	width: 55%;
	height: auto;
	margin: 0 auto;
}

.amazon-logo {
	height: 25px;
	width: 25px;
	border-radius: 0 !important;
	padding-right: 6px;
}

.security-message-logo {
	color: #ffa03d;
}

.security-message {
	color: #22222280;
	margin-left: 5px;
}

.pending-count {
	width: 15px;
	height: 15px;
	text-align: center;
	padding: 2px;
	line-height: 15px;
	color: #434242;
	font-weight: 400;
	background-color: #dad4d4;
	border-radius: 50%;
	font-size: 10px;
	margin: 0;
	margin-right: 3px;
	mix-blend-mode: normal;
}

.main img {
	margin-right: 5px;
}

.request-box {
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.05);
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

.heading {
	padding: 0px 8px;
	width: 30%;
	color: #222222;
	color: #222222;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.file {
	width: 20px;
	height: 20px;
}

#img-text .right-cell-description {
	font-weight: 550;
	color: #222222;
	padding-top: 1%;
}

.description {
	padding: 0px 8px;
	width: 90%;
	color: #222222;
}


tr {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid rgba(34, 34, 34, 0.05);
	font-family: "Montserrat", sans-serif;
}

.request {
	height: auto;
	margin: auto;
	display: flex;
	background-color: #fff;
	width: 100%;
	background: #ffffff;
	border-radius: 8px;
}

.request-description {
	flex: 0.55;
	width: 100%;
	height: auto;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	position: relative;
	background: #ffffff;
}



.associate-description {
	flex: 0.45;
	background-color: #fff;
	background: #ffffff;
	border-left: 1px solid rgba(34, 34, 34, 0.05);
}

.associate-description>h5 {
	color: grey;
	background-color: #fff;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 10px;
}



.request-description>h4 {
	color: grey;
	background-color: #fff;
	font-size: 14px;
	padding: 8px;
}

.detail-element {
	display: flex;
	padding: 5px;
}


.detail-element>.status-icon {
	padding-left: 30px;
	flex: 0.05;
}

.status-icon img {
	border-radius: 50%;
}



hr {
	border: 1px solid rgba(34, 34, 34, 0.05);
	border-radius: 8px;
}


.request-details {
	margin: 5%;
	background: #ffffff;
	border: 1px solid rgba(34, 34, 34, 0.05);
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.05);
	border-radius: 8px;
}

.title {
	margin: 0 auto;
	margin-left: 1px;
	display: flex;
	border-radius: 8px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid rgba(34, 34, 34, 0.05);
	background: #fff;
	padding: 10px;
}

.title span {
	font-size: 16px;
	font-weight: 700;
}

.confirmation-section {
	padding: 0px 10px 10px 10px;
}

.confirmation-section p {
	color: #ff6448;
}

.name {
	color: black;
	font-weight: 600;
}

.email {
	margin-left: 3px;
	color: grey;
}

.date {
	display: block;
	color: grey;
}

.details {
	width: 70%;
}

.confirmation-section p span {
	color: #22222280;
	display: block;
}

.confirmation-section .approve-btn {
	background-color: #26c281;
	padding: 10px;
	border-radius: 10%;
	cursor: pointer;
	margin-right: 10px;
	color: #ffffff;
	background: #26c281;
	border: 1px solid rgba(34, 34, 34, 0.1);
	box-sizing: border-box;
	border-radius: 8px;
}

.confirmation-section .deny-btn {
	background-color: #ff6448;
	padding: 10px;
	border-radius: 10%;
	color: #ffffff;
	background: #ff6448;
	border: 1px solid rgba(34, 34, 34, 0.1);
	box-sizing: border-box;
	cursor: pointer;
	border-radius: 8px;
}

#airbase-logo-hr {
	margin-top: 5px;
	visibility: hidden;
}

#InMobView {
	visibility: hidden;
}

#buttonsInMobView {
	visibility: hidden;
}

@media (max-width: 990px) {
	.request {
		flex-direction: column;
		display: flex;
	}
	.request-description {
		flex: 1;
	}
	.associate-description {
		flex: 1;
	}
	.main {
		width: 98%;
	}
	#buttonsInWebView {
		display: none;
	}
	#buttonsInMobView {
		visibility: visible;
		display: flex;
	}
	#buttonsInMobView .approve-btn {
		flex: 0.5;
	}
	#buttonsInMobView .deny-btn {
		flex: 0.5;
	}
	#airbase-logo-hr {
		visibility: visible;
	}
}